<!DOCTYPE html>
<html lang="fr">
<head>

    <% include partials/head.ejs %>

    <title>Localisation</title>

</head>
<body class="text-center">


<img class="mx-auto" src="../img/<%= image %>.png" alt="Plan">


</body>


<% include partials/footer.ejs %>

</html>