<!DOCTYPE html>
<html>
<head>

    <title>Login</title>
</head>

<body>

    <form action="/login" class="login-form" method="post" name="login-form" id="login-form">
        <label class="form-label">Email</label>
        <input class="form-control" id="txtusername" name="email" type="text" placeholder="email">
        <br>
        <label class="form-label">Password</label>
        <input class="form-control" id="txtpassword" name="password" type="password" placeholder="password">
        <br>
        <button type="submit">Login</button>
    </form>

</body>
</html>